/**
 * Внедряем базовые стили (Preflight) Tailwind и любые базовые стили, зарегистрированные плагинами
 */
@tailwind base;
/**
 * Внедряем базовые классы компонентов Tailwind и любые классы компонентов, зарегистрированные плагинами
 */
@tailwind components;
/**
 * Внедряем служебные классы Tailwind и любые служебные классы, зарегистрированные плагинами
 */
@tailwind utilities;

@layer base {
  html {
    --text-color-primary: #000000;
    --text-color-secondary: #ffffff;

    --bg-color-panel: #ffffff;
    --bg-color-panel2: #f9fbfa;
    --bg-color-page: #ffffff;
    --bg-color-button: rgb(255 0 0);

    --border-color: #e5e7eb;

    @apply h-full;
  }
  @import "themes/darkTheme.css";
}

@layer components {
  .main-body-layout {
    @apply min-h-full h-full;
    @apply flex flex-col flex-nowrap;
    @apply text-primary;
  }
}
