html[data-theme="dark"] {
  --text-color-primary: #ffffff;
  --text-color-secondary: #000000;

  --bg-color-panel: rgb(30 41 0);
  --bg-color-page: rgb(30 41 59);
  --bg-color-button: rgb(0 0 255);

  --border-color: rgb(203 213 225);
}
